<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakebo SPA</title>
    <link rel="stylesheet" href="/static/css/milligram.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>src="/static/js/spa.js"</script>
</head>
<body>
    <header>Kakebo 2.0</header>
    <section class="container" id="principal">
        <h1>Control de movimientos</h1>
        <div class="lista-movimientos"></div>
        <table class="tabla-movimientos">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Tipo</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                </tr>
                <tbody></tbody>

            </thead>

        </table>
    <div class="detail-movimiento">
        Aquí irá el detalle
    </div>

    </section>
    <footer>&copy 2021</footer>
    
</body>
</html>