# Ignoramos la carpeta venv (entorno virtual)
venv/

# Ignoramos el archivo de variables de entorno
.env

# Ignoramos las bases de datos
*.db

# Ignoramos la carpeta de configuración de Visual Studio Code
.vscode/

# Ignoramos el archivo de configuración
config.py